* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
}

body h1 {
    font-size: 20px;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 125vh;
    background: linear-gradient(180deg, rgba(16, 19, 27, 0.30) 0%, #01283C 100%);
    z-index: 1;
}

.bg-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    z-index: 1;
}

.sapa {
    left: 20vh; 
    top: 40vh; 
    position: absolute; 
    color: white; 
    font-size: 24px; 
    font-family: Poppins; 
    font-weight: 600; 
    word-wrap: break-word; 
    z-index: 1;
}

.p2 {
    width: 576px;
    height: 72px; 
    left: 20vh; 
    top: 45vh; 
    position: absolute; 
    color: white; 
    font-size: 48px; 
    font-family: Poppins; 
    font-weight: 800; 
    word-wrap: break-word; 
    z-index: 1;
}

.head {
    width: 536px; 
    height: 54px; 
    left: 20vh; 
    top: 66vh; 
    position: absolute; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex; 
    z-index: 1;
}

.p3 {
    color: white; 
    font-size: 18px; 
    font-family: Poppins; 
    font-weight: 400; 
    word-wrap: break-word
}

.head2 {
    width: 152px; 
    height: 65px; 
    left: 50vh; 
    top: 80vh; 
    color: white; 
    font-size: 16px; 
    font-family: Poppins; 
    font-weight: 700; 
    word-wrap: break-word; 
    position: absolute; 
    background: #80E2ED; 
    border-radius: 10px; z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.head3 {
    width: 152px; 
    height: 65px; 
    left: 20vh; 
    top: 80vh; 
    position: absolute; 
    background: rgba(1, 40, 60, 0); 
    border-radius: 10px; 
    border: 1px #80E2ED solid; 
    z-index: 1;
    color: white; 
    font-size: 18px; 
    font-family: Poppins; 
    font-weight: 700; 
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navbar {
    background: transparent;
    transition: all 0.7s;
}

.nav-item a {
    color: #FFF;
}

.navbar-scrolled {
    /* background: #06794F; */
    /* background: #01283C; */
    background: #FFF;
    color: #FFF;
}
